/*Common*/
html {
	padding: 0;
	margin: 0;
	
	background:#000;
}
body {
	/*
	zoom: 0.8; // Old IE only 
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	*/
	font: 62.5% arial, verdana, sans-serif;
	color:#000;
	padding: 0;
	margin: 0;
	height: 100%;
}

h1, h2, ul, li, p {
	margin: 0;
	padding: 0
}
ul, li {
	list-style-type: none
}
#wrapper {
	width: 100%;
	margin: 0 auto;
	background: #000;
	color: #09b1d8;
	position: relative;
	height: 800px;
	overflow: hidden;
	height: 100%;
}
.metergauge {
	left: 10%;
	margin: 8% auto 0 auto;
	padding: 0;
	position: relative;
	width: 80%;
}
.fltleft {
	float: left;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1;
}
.col1 {
	width: 15%;
	height: 550px;
	position: relative;
}
.col2 {
	width: 531px;
	height: 550px;
	position: relative;
	margin: 0 25px;
}
.col3 {
	width: 15%;
	height: 550px;
	position: relative;
}
.meter-right {
	background: url("../images/tempLevel.png") no-repeat scroll center left;
}
.meter-right-red {
	background: url("../images/tempLevel_red.png") no-repeat scroll center left;
}
.meter-left {
	background: url("../images/gasLevel.png") no-repeat scroll center right;
}
.meter-left-red {
	background: url("../images/gasLevel_red.png") no-repeat scroll center right;
}
.meter-col {
	background: url("../images/gauge.png") no-repeat scroll center left;
}
.mileIndicator {
	background: url("../images/mpgLevel.png") no-repeat scroll center right;
	bottom: 3%;
	height: 285px;
	left: 7%;
	position: absolute;
	width: 211px;
}
.meter-reading {
	margin-top: 35%;
}
.meter-mph {
	color: #004155;
	font-size: 1.8em;
	display: block;
	text-align: center;
	font-style: italic;
	text-shadow: 0px 2px 10px #004155
}
.kilometer {
	font-size: 15em;
	display: block;
	text-align: center;
	text-shadow: 0px 2px 6px #10a9d3;
	font-weight:bolder;
	font-style:italic;
	
}


.welcome-text1 {
	display: block;
	font-size: 5em;
	font-style: italic;
	margin: 0 auto;
	text-align: center;
	text-shadow: 0 2px 6px #10a9d3;
	width: 357px;
}
.welcome-text2 {
	font-size: 2em;
	display: block;
	text-align: center;
	text-shadow: 0px 2px 6px #10a9d3;
	font-style: italic;
	width: 500px;
	margin: 10% auto 0 auto;
}
.parking {
	color: #000;
	font-size: 4em;
	font-style: italic;
	line-height: 1.5em;
}
.blue-circle {
	background: none repeat scroll 0 0 #10add6;
	border-radius: 50px;
	box-shadow: 1px 1px 11px #10a9d3;
	display: block;
	height: 45px;
	width: 45px;
	text-align: center;
	padding: 5px;
}
.red-circle {
	background: none repeat scroll 0 0 #d61010;
	border-radius: 50px;
	box-shadow: 1px 1px 11px #d61010;
	display: block;
	height: 45px;
	width: 45px;
	text-align: center;
	padding: 5px;
}
.green-circle {
	background: none repeat scroll 0 0 #00c04a;
	border-radius: 47px;
	box-shadow: 1px 1px 11px #00c04a;
	display: block;
	height: 45px;
	width: 45px;
	text-align: center;
	padding: 5px;
}
.circle-large {
	height: 60px;
	width: 60px;
	box-shadow: 1px 1px 11px #777a7a;
}
.extra-space {
	margin-top: 3px;
}
.left-driving-details {
	padding: 0;
}
.left-driving-details ul li, .left-driving-details ul li span, .left-driving-details ul li strong, .right-box span {
	text-align: left;
	font-style: italic;
}
.left-driving-details ul li {
	padding-bottom: 10px;
}
.middle-driving-details {
	bottom: 5%;
	left: 41%;
	position: absolute;
}
.middle-driving-details ul li, .middle-driving-details ul li span, .middle-driving-details ul li strong {
	text-align: right;
	font-style: italic;
}
.middle-driving-details ul li {
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
}
.mile-driving-details {
	bottom: 13%;
	left: 0;
	position: absolute;
}
.mile-driving-details ul li, .mile-driving-details ul li span, .mile-driving-details ul li strong {
	text-align: right;
	font-style: italic;
}
.mile-driving-details ul li {
	padding-bottom: 10px;
}
.blueLabel {
	display: block;
	font-size: 1.5em;
	color: #004155;
	font-weight: bold;
}
.driving-style2 {
	display: block;
	font-size: 2.5em;
	display: block;
	text-align: center;
	text-shadow: 0px 2px 10px #10a9d3;
	font-weight: bold;
	padding: 10px 0 10px 25px;
}
.totalMilesText {
	display: block;
	font-size: 2.5em;
	display: block;
	text-align: center;
	text-shadow: 0px 2px 6px #10a9d3;
}
.mpgText {
	display: block;
	font-size: 4em;
	display: block;
	text-align: center;
	text-shadow: 0px 2px 10px #00c04a;
	color: #00c04a;
	font-weight: bold;
}
.greenLabel {
	display: block;
	font-size: 1.5em;
	display: block;
	text-align: center;
	text-shadow: 0px 2px 10px #00c04a;
	color: #00c04a;
}
.avgMpgText {
	display: block;
	font-size: 2em;
	display: block;
	text-align: center;
	text-shadow: 0px 2px 6px #00c04a;
	color: #00c04a;
}
.tripText {
	display: block;
	font-size: 5em;
	display: block;
	text-align: center;
	text-shadow: 0px 2px 6px #10a9d3;
	font-weight: bold;
}
.driving-style8 {
	text-shadow: 0px 2px 6px #00c04a;
	color: #10a9d3;
	font-size: 1.5em;
}
.position1 {
	right: 0;
	position: absolute;
	top: 13%;
}
.position2 {
	left: 63%;
	position: absolute;
	top: 8%;
}
.position3 {
	left: -37px;
	position: absolute;
	top: -13px;
}
.position4 {
	left: 0;
	position: absolute;
	top: 13%;
}
.position5 {
	left: 32%;
	position: absolute;
	top: -14%;
}
.position6 {
	margin: 20px auto 0 auto;
}
.position7 {
	position: relative;
	top: 7px;
}
.left-main-col {
	float: left;
	width: 79%;
}
.right-main-col {
	float: right;
	position: relative;
	right: 10px;
	top: 10px;
}
.indicator-main {
	height: 250px;
	width: 276px;
	margin: 0 auto;
}
.right-box {
	border: 1px solid #242424;
	border-radius: 10px;
	padding: 10px 10px;
	box-shadow: 1px 1px 10px #242424;
	width: 250px;
}
.marginTop10 {
	margin-top: 10px;
}
.marginTopBtm10 {
	margin: 10px 0;
}
.resp-img {
	display: block;
	margin: 0 auto;
}
.system-check li {
	font-size: 2em;
	font-style: italic;
	text-shadow: 0 2px 10px #10a9d3;
	line-height: 20px;
}
.system-label {
	position: relative;
	top: -24px
}
.hasOpacity{
	opacity:1;
	display:none;
}